@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --highlight-text: #06b6d4;
        --default-text: #4b5563;
        --bold-text: #030712;
        --muted-text: #747f8f;;
        --bg-color: #fafafa;
        --bg-color-lighter: #fff;
        --green: #60b051;
        --purple: #b464ef;
        --pink: #EA64D9;
        --red: #f03939;
        --blue:#0ea5e9; 
        --teal: #4df3e2;
        --purple:  #8c78ea;
        --yellow: #fffdc7;
        --border-color: #e2e8f0;

    }

    :root[class~="dark"] {
        --highlight-text: #67e8f9;
        --default-text: #d1d8ee;
        --bold-text: #fff;
        --muted-text: #cadaf0;
        --bg-color: rgb(31 41 55);
        --bg-color-lighter:  rgb(107 114 128);
        --bg-color-darker: rgb(17 24 39);
        --green: #36d79d;
        --pink: #FAA3FF;
        --red: #f03939;
        --blue:#4cabfc;
        --purple:  #A592F2;
        --yellow: #fffdc7;
        --teal: #4df3e2;
        --border-color: #475569;
    }
}


.button{
    background: white;
    color: var(--default-text);
    border-radius: 0.375rem;
}
.dark{
    .button{
        background: var(--bg-color) !important;  
        color: var(--bold-text) !important;  
        border: .5px solid var(--bg-color-lighter) !important;
        

    }
    div.button{
        button{
            background: var(--bg-color) !important;  
            color: var(--bold-text) !important;  
          
        }
    }
}
