@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --highlight-text: #06b6d4;
        --default-text: #4b5563;
        --bold-text: #030712;
        --muted-text: #747f8f;;
        --bg-color: #fafafa;
        --bg-color-lighter: #fff;
        --green: #60b051;
        --purple: #b464ef;
        --red: #EA64D9;
        --blue:#0ea5e9; 
        --teal: #4df3e2;
        --purple:  #8c78ea;
        --yellow: #fffdc7;
    
        --border-color: #e2e8f0;
    }

    :root[class~="dark"] {
        --highlight-text: #67e8f9;
        --default-text: #d1d8ee;
        --bold-text: #fff;
        --muted-text: #cadaf0;
        --bg-color: #191993;
        --bg-color-lighter: #1e1e3b;
        --green: #36d79d;
        --red: #d921fc;
        --blue:#4cabfc;
        --purple:  #7e17f6;
        --yellow: #fffdc7;
        --teal: #4df3e2;
        --border-color: #475569;
    }
}

